!  Xft Settings

Xft.antialias:   true
Xft.rgba:        rgb
Xft.hinting:     true
Xft.hintstyle:   hintslight
Xft.autohint:    true

! Terminal Settings

URxvt.geometry:         90x30
URxvt.loginShell:       true
URxvt.internalBorder:   8

URxvt.saveLines: 400
URxvt.scrollBar: false

URxvt.perl-ext:
URxvt.perl-ext-common:

URxvt.font: xft: Gohufont: size=14

! Colors - Gruvbox 

*.cursorColor:  #d3869b
*.foreground:   #ebdbb2
*.background:   #282828
*.color0:       #282828
*.color1:       #cc241d
*.color2:       #98971a
*.color3:       #d79921
*.color4:       #458588
*.color5:       #b16286
*.color6:       #689d6a
*.color7:       #a89984
*.color8:       #928374
*.color9:       #fb4934
*.color10:      #b8bb26
*.color11:      #fabd2f
*.color12:      #83a598
*.color13:      #d3869b
*.color14:      #8ec07c
*.color15:      #ebdbb2
